<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        backupGlobals="true"
        backupStaticAttributes="false"
        bootstrap="vendor/autoload.php"
        cacheTokens="true"
        colors="true"
        mapTestClassNameToCoveredClassName="false"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        strict="false"
        verbose="true">

    <php>
        <ini name="intl.default_locale" value="en"/>
        <ini name="intl.error_level" value="0"/>
        <ini name="memory_limit" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="assertisTest">
            <directory suffix="Test.php">packages/Assertis/</directory>
        </testsuite>
    </testsuites>

    <!--<logging>-->
        <!--<log type="coverage-html" target="build/logs/coverage/html" title="phpDox"-->
             <!--charset="UTF-8" yui="true" highlight="true"-->
             <!--lowUpperBound="35" highLowerBound="70"/>-->
        <!--<log type="coverage-clover" target="build/logs/clover.xml"/>-->
        <!--<log type="coverage-xml" target="build/logs/coverage/xml"/>-->
        <!--<log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>-->
    <!--</logging>-->
</phpunit>